@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  header {
    width: 100%;
    height: 100px;
    padding: 0 3%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b262c;
    color: #acc3d1;
    display: flex;
    align-items: center;
    gap: 45%;
    .header-title {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: "roboto", sans-serif;
      font-size: large;
      .fa-solid {
        color: #acc3d1;
        font-size: 40px;
      }
    }
    .header-nav {
      display: flex;
      align-items: center;

      nav ul {
        display: flex;
        gap: 40px;
        text-decoration: none;
        a {
          text-decoration: none;
          li {
            color: #acc3d1;
            list-style: none;
            font-family: "Robot", sans-serif;
            font-size: 1.4em;
          }
        }
      }

      .fa-solid {
        color: #acc3d1;
        margin-left: 40px;
        font-size: 1.3em;
      }
      .fa-solid:hover,
      li:hover {
        color: white;
      }
    }
  }
  main {
    .home-container {
      width: 100%;
      margin-top: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .image-box {
        width: 50vw;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .home-title {
        background-color: #cee7f0;
        height: 100%;
        padding: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        h1 {
          font-size: 70px;
          border-bottom: 3px solid black;
          border-width: 10px;
        }
        h2 {
          font-size: 50px;
        }
      }
    }
    .title-2 {
      text-align: center;
      font-size: x-large;
      font-weight: 10px;
      padding: 2%;
    }
    .container-1 {
      display: flex;
      justify-content: center;
      gap: 30px;
      .container-1-box {
        font-family: "Roboto", sans-serif;
        font-size: small;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .card-1,
        .card-2,
        .card-3,
        .card-4 {
          height: 500px;
          width: 400px;
          display: flex;
          justify-content: center;
          align-items: end;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          button {
            margin-bottom: 15px;
            padding: 4px 20px;
            border-radius: 10px;
            color: white;
            background-color: black;
            border-style: none;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s ease-in-out;
          }
        }
        .card-box {
          height: 100px;
          width: 400px;
          margin-top: 10px;
          padding: 0 30px;
          h3 {
            padding: 15px 0;
          }
        }
        .card-1 {
          background-image: url(./image/kavier.jpg);
        }
        .card-2 {
          background-image: url(./image/gitarre.png);
        }
        .card-3 {
          background-image: url(./image/violine.jpg);
        }
        .card-4 {
          background-image: url(./image/saxophone.jpg);
        }
        .preis {
          color: #78c0f0;
          margin-top: 50px;
          margin-left: 5%;
          padding: 2%;
        }
      }
      .container-1-box:hover form button {
        visibility: visible;
        opacity: 1;
      }
    }
    .container-2 {
      height: 100vh;
      background-color: #ebedf0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 3% 0;
      box-shadow: 3px 5px 20px 5px rgb(173, 165, 165) inset;
      .box-1 {
        width: 50%;
        height: 400px;
        border: 1px solid black;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
          0 6px 20px 0 rgba(0, 0, 0, 0.3);
        h2 {
          font-size: 3rem;
          position: relative;
          display: inline-block;
        }
        h2::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          height: 2px;
          background-color: white;
          width: 50%;
          margin: 0 auto;
        }

        p {
          font-family: "Roboto", sans-serif;
          margin-top: 20px;
          font-size: 1rem;
          word-wrap: break-word;
          overflow-wrap: break-word;
          text-align: center;
        }
      }
      .box-2 {
        width: 30%;
        object-fit: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
          0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
    }
    .container-3 {
      height: 60vh;
      margin-top: -3%;
      background-image: url(./image/background-violine.jpg);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: xx-large;
      line-height: 2;
      background-size: cover;
      background-attachment: fixed;
      overflow: hidden;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      padding: 50px;
      font-size: 2rem;
      position: relative;
      display: inline-block;
    }
    h1::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      height: 2px;
      background-color: blue;
      width: 50%;
      margin: 0 auto;
    }
    .contact-card {
      width: 50%;
      height: 70%;
      background-color: #f1f1f1;
      padding: 50px 80px;
      border-radius: 20px;
      margin-top: -250px;
      font-family: "Roboto", sans-serif;
      .contact-card-box-1 {
        height: 30%;
        display: flex;
        justify-content: space-between;
        label {
          color: gray;
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 15px;
          a:visited {
            color: rgb(16, 115, 196);
            text-decoration: none;
            i {
              color: rgb(16, 115, 196);
            }
          }
        }
        .adress {
          line-height: 2;
          i {
            color: rgb(16, 115, 196);
          }
        }
      }
      .contact-card-box-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        .input-group-1 {
          display: flex;
          gap: 10px;
        }
        input {
          height: 40px;
          padding-left: 15px;
          border-radius: 5px;
          width: 100%;
          flex: 1;
          border-style: none;
        }
        input:focus,
        textarea:focus {
          outline: 2px solid rgb(16, 115, 196);
        }
        textarea {
          height: 80px;
          padding-left: 15px;
          padding-top: 15px;
          border-radius: 5px;
          width: 100%;
          margin-top: 10px;
          border-style: none;
        }
        input[type="submit"] {
          background-color: rgb(98, 177, 241);
          margin-top: 5px;
        }
      }
    }
  }
  footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    margin-top: 80px;
    font-size: small;
  }
}
